<!DOCTYPE html>
<html>

<head>
  <title>
    <a href="https://github.com/a-ogilvie/drug-API">Drug API</a>
  </title>
  <link rel="icon" href="/assets/api.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
  <header>
    <h1>Drug API</h1>
    <p>This is an API you can use to manage the stock levels of drugs in a pharmacy.</p>
  </header>

  <%- defineContent('docs') %>

    <hr>
    <footer>
      Drug API Documentation v0.1.0
      <br>
      <a href="https://github.com/a-ogilvie">Alexander Ogilvie</a>
    </footer>
</body>

</html>