<%- contentFor('docs') %>
  <main>
    <div class="container">
      <div>
        This is a list of available methods for this API.
      </div>
      <div>
        <%apiInfo.forEach((entry)=>{%>
          <h3>
            <%=entry.name%>
          </h3>
          <p>
            <%=entry.body%>
          </p>
          <%})%>

      </div>
    </div>

  </main>